# Poświadczenia PostgreSQL
# Użyj tych samych wartości w cms/.env (DATABASE_NAME, DATABASE_USERNAME, DATABASE_PASSWORD)
POSTGRES_DB=strapi
POSTGRES_USER=strapi
POSTGRES_PASSWORD=zmien_to_na_silne_haslo
